// Variables
$--color-text-regular: #607D8B;
$--color-primary: #2B2ECF !default;
$--color-active: #06e499;
$--color-danger: #FB4C38;
$--color-warning: #FFA203;
$--color-base: #F2E9E1 !default;
$--boxShadow: 0 3px 6px 4px rgba(204, 197, 197, 0.37) !default;